@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

/* global css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.7;
  outline: 1px solid transparent;
  outline-offset: .25rem !important;
}

:root {

  /* Default colors */


  /* Custom variables */
  --background-color: #fff;
  --background-dark-color: #212121;
  --text-color: #212121;
  --text-highlight-color: rgb(126 34 206);
  --text-color-light: #FFFFFF;
  --text-gray: #575757;
  --bg-dark: #2B2B2B;
  --primary-color: #EA7B2C;
  --global-white: #E4E4E4;
  --modal-bg: #EAEDEC;
  --card-border: #BABABA;
  --bg-blue: #164284;

  --container-width: 1400px;

  --body-font: "Wix Madefor Display", sans-serif;
  --heading-font: 'Edgecutting Lite Medium', sans-serif !important;
  --p: 16px;
  --h1-large: 132px;
  --h0: 64px;
  --h1: 96px;
  --h2: 52px;
  --h3: 44px;
  --h4: 32px;
  --h5: 24px;
  --h5dif: 32px;
  --h6: 24px;
  --gap: 100px
}

*:focus-visible {
  outline: 1px solid var(--text-color);
}

html {
  opacity: 0;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: clip;
}



html,
body {
  scroll-behavior: smooth;
  font-family: var(--body-font);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0;
  /* background: var(--button-blue); */
  /* scroll bar hover */
}

p,
a,
li,
label {
  font-size: var(--p);
  text-decoration: none;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin: 0 !important;
  color: var(--text-color);
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.92px;
}

.h0 {
  font-size: var(--h0);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.h1-large {
  font-size: var(--h1-large);
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 6px;
  word-spacing: 1rem;
}

h1,
.h1 {
  font-size: var(--h1);
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
}

h2,
.h2 {
  font-size: var(--h2);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.92px;
}

h3,
.h3 {
  font-size: var(--h3);
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 2.3px;
}

h4,
.h4 {
  font-size: var(--h4);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h5,
.h5 {
  font-size: var(--h5);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

h6,
.h6 {
  font-size: var(--h6);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  font-family: var(--body-font);

}

.h5dif,
.bodyfont>*,
.bodyfont>*>* {
  font-size: var(--h5dif) !important;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;

  color: var(--text-color-gray) !important;
}

.letter_speacing_normal,
.letter_speacing_normal>* {
  letter-spacing: 0 !important;
}

.body-font {
  font-family: var(--body-font) !important;
}

.admin-bar {
  display: none;

  &.active {
    display: block;
  }
}

.highlightText {
  color: var(--text-highlight-color) !important;
}

.text_color {
  background: var(--qt-gradient, linear-gradient(110deg, #FFF 50.57%, rgba(255, 255, 255, 0.00) 107.73%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.container {
  max-width: var(--container-width) !important;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid {
  max-width: 100% !important;
  width: 100%;
  padding: 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header.header_main {
  & .header_main__inner {
    position: absolute;
    z-index: 20;
    top: 0;
  }

}

/* global css end */
/* styling start here  */
/* styling end here  */

/* responsive start here  */
@media screen and (max-width:1200px) {
  :root {
    --container-width: 100%;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width:1024px) {
  :root {
    --h0: 45px;
    --h1: 52px !important;
    --h2: 42px !important;
    --h3: 36px !important;
    --h4: 24px !important;
    --h5: 22px !important;
    --h6: 18px !important;
    --p: 14px !important;
    --gap: 50px;
    --h5dif: 22px !important;
  }

  h1,
  .h1 {
    font-size: var(--h1) !important;
  }

  h2,
  .h2 {
    font-size: var(--h2) !important;
  }


  h3,
  .h3 {
    font-size: var(--h3) !important;
  }

  h4,
  .h4 {
    font-size: var(--h4) !important;
  }

  h5,
  .h5 {
    font-size: var(--h5) !important;
  }

  h6,
  .h6 {
    font-size: var(--h6) !important;
  }
}

/* responsive end here  */